/*
    FUENTES
*/
* {
}

.m10 {
  margin: 10px;
}
.m14 {
  margin: 14px;
}
.m16 {
  margin: 10px;
}
.m20 {
  margin: 14px;
}
.p10 {
  padding: 10px;
}
.m14 {
  margin: 14px;
}
.m16 {
  margin: 10px;
}
.m20 {
  margin: 14px;
}
